.container_1 {
  width: 100%;
  margin: 10vh auto 0px auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  padding: 30px;
  text-align: center;
  height: auto;
}
image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* creating a container */
.container_1 h3 {
  color: green;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

/* adding colors to the paragraph */
.container_1 p {
  color: green;
  text-align: center;
  font-size: 20px;
}

/* creating a box-container for all our designs  */
.box-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  padding: 30px;
  color: green;
}

/* manipulating our reset button */
#clear {
  margin-right: 5%;
}


/* manipulating our reset button */
#Convert{
  margin-left: 5%;
}

.box-container > div {
  width: 50%;
}

/* manipulating our input space */
input {
  outline: none;
  width: 50%;
}

/* manipulating our button */
.my-btn {
  width: 80px;
  height: 35px;
  outline: none;
  background-color: green;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Adding hover effect to our button */
button:hover {
  transition: 0.2s ease-in-out;
  background-color: rgb(15, 63, 15);
  color: white;
}

/* Adding a media query for responsiveness */
@media screen and (max-width: 800px) {
  .container_1 {
    width: auto;
  }
  image {
    width: 100%;
  }
  .box-1 {
    width: auto;
  }
  .box-container {
    width: auto;
  }
  .buttons {
    width: auto;
  }
}
